$font-base: 'Open Sans', sans-serif;
$color-black: #0C0C0C;
$font-color-grey: #53585C;
$color-white: #fff;
$color-grey: #AAAAAA;
$color-light-grey: #E8E8E8;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.vehicles__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media screen and (min-width:750px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: none;
  }
  @media screen and (min-width:1050px) {
      grid-template-columns: repeat(4, 1fr);
  }
}


.vehicles__conatiner {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $color-light-grey;
  background: $color-white;
  opacity: 0;
  @media screen and (min-width:768px) {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      border-bottom: none;
  }
}

.vehicles__image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;

  &__image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;

    @media screen and (min-width:768px) {
      width: 100%;
      height: 220px; 
    }
  }

  @media screen and (min-width:768px) {
      width: 100%;
      object-fit: contain;
      flex: 2;
  }

}


.vechicles__container-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 3;
  padding-left: 30px;
  @media screen and (min-width:768px) {
    flex: 1;
    padding-left: 0px;
    padding: 20px 5px;
    align-items: center;
  }
  @media screen and (min-width:1050px) {
    flex: 2;
  }
  
}

.vehicle__title{
  font-family: $font-base;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: $color-black;
  text-transform: uppercase;

  @media screen and (min-width:768px) {
    font-size: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 5px 0px;
  }
}

.vehicle__price {
  font-family: $font-base;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $font-color-grey;
  @media screen and (min-width:768px) {
    line-height: 10px;
    padding-top: 20px;
  }
}

.vehicle__description {
  font-family: $font-base;
  font-size: 12px;
  line-height: 20px;
  color: $font-color-grey;
  margin-top: 10px;

  span{
    color: $color-black;
    cursor: pointer;
  }
  @media screen and (min-width:768px) {
    text-align: center;
  }
}

.vehicle__info{
  font-family: $font-base;
  font-size: 12px;
  line-height: 20px;
  color: $font-color-grey;
  margin-top: 5px;
  @media screen and (min-width:768px) {
    text-align: center;
  }
}

